dotmap
wandb
matplotlib
torch>=2
torchvision
tqdm
numpy 
pillow
pydantic
pyyaml
rasterio
opencv-python-headless
jupyter 
notebook
black
nb-clean
pre-commit
isort
python-dotenv
pandas
natsort
# fiona
pycocotools
torchmetrics>=0.11
pytorch-lightning>=2
hydra-core
plotly
scikit-image
albumentations
seaborn
ttach
python-liquid
pyshp
mss
httpx
datasets
transformers
huggingface-hub
git+https://github.com/facebookresearch/detectron2.git
