dotmap
wandb
matplotlib
torch>=2
torchvision
tqdm
numpy 
pillow
pydantic
pyyaml
rasterio
opencv-python-headless
jupyter 
notebook
black
nb-clean
pre-commit
isort
python-dotenv
pandas
natsort
# fiona
pycocotools
torchgeo==0.5.0
torchmetrics>=0.11
pytorch-lightning>=2
plotly
scikit-image
albumentations
seaborn
ttach
python-liquid
pyshp
mss
httpx

git+https://github.com/facebookresearch/detectron2.git
